    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Us</h2>
                <p>Maeve and Jonathan have been friends for a long time, but it wasn't until Jonathan came up to visit in early 2015 that they realized they didn't want to be apart again. After several flights back and forth to see each other, Jonathan proposed to Maeve in San Francisco on August 3rd, and Maeve packed up her one bedroom in Toronto to move down south. On September 10th, they'll be saying their vows to each other in front of their family and friends. </p>
            </div>
        </div>
    </section>